@{
    var itemCount = await CurrentCart.GetItemCountAsync();
}

<header>
    <div class="container d-flex">
        <div>
            <a href='/'><img src='/img/artlogo.png' alt="Art Shop" width="136" height="65" /></a>
        </div>

        <div class="ms-auto d-flex">

            <div class="pr-20 pt-18">
                <a href="/cart" class="btn btn-default btn-cart">
                    <img src="~/img/shopping_cart_32.png" />
                    <b style='@(itemCount == 0 ? "display:none;": "")' class="cart-badge">@itemCount</b>
                </a>
                <input id="cartcount" type="hidden" value="@itemCount" />
            </div>

            @if (CurrentUser.IsAuthenticated)
            {
                <div class="dropdown mt-18">
                    <button class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="user-button">
                        @CurrentUser.FirstName?.ToUpper()
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="user-button">
                        <a class="dropdown-item font-14" href="/account">My Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item font-14" href="/logout">Sign Out</a>
                    </div>
                </div>
            }
            else
            {
                <ul class="nav nav-pills mt-17">
                    <li><a class="btn btn-sm btn-light" href="/login">Login</a></li>&nbsp;&nbsp;
                    <li><a class="btn btn-sm btn-light" href="/signup">Sign up</a></li>
                </ul>
            }

        </div>
    </div>
</header>

<div class="main-menu">
    <div class="container d-flex">

        <div>
            <ul class="nav nav-menu">
                <li class='nav-item @(ViewBag.Menu == "Welcome" ? "active" : "")'><a class="nav-link" href="/">WELCOME</a></li>
                <li class='nav-item @(ViewBag.Menu == "Shop" ? "active" : "")'><a class="nav-link" href="/shop">SHOP</a></li>
                <li class='nav-item @(ViewBag.Menu == "Cart" ? "active" : "")'><a class="nav-link" href="/cart">CART</a></li>
            </ul>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="ms-auto">
                <div class="d-none d-lg-block">
                    <ul class="nav nav-menu">
                        <li class='nav-item @(ViewBag.Menu == "Dashboard" ? "active" : "")'><a class="nav-link" href="/admin/dashboard">DASHBOARD</a></li>
                        <li class='nav-item @(ViewBag.Menu == "Users" ? "active" : "")'><a class="nav-link" href="/admin/users">CUSTOMERS</a></li>
                        <li class='nav-item @(ViewBag.Menu == "Products" ? "active" : "")'><a class="nav-link" href="/admin/products">PRODUCTS</a></li>
                        <li class='nav-item @(ViewBag.Menu == "Orders" ? "active" : "")'><a class="nav-link" href="/admin/orders">ORDERS</a></li>
                        <li class='nav-item @(ViewBag.Menu == "Errors" ? "active" : "")'><a class="nav-link" href="/admin/errors">ERRORS</a></li>
                        <li class='nav-item @(ViewBag.Menu == "Admin" ? "active" : "")'><a class="nav-link" href="/admin">ADMIN</a></li>
                    </ul>
                </div>
                <div class="d-block d-lg-none">
                    <ul class="nav nav-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">ADMIN</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin">Overview</a>
                                <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
                                <a class="dropdown-item" href="/admin/users">Customers</a>
                                <a class="dropdown-item" href="/admin/products">Products</a>
                                <a class="dropdown-item" href="/admin/orders">Orders</a>
                                <a class="dropdown-item" href="/admin/errors">Errors</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

