@using Microsoft.AspNetCore.Identity
@using app.plataforma.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal notícias</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="~/lib/alertifyjs/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/alertify.rtl.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/alertify.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/themes/semantic.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/themes/semantic.min.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/themes/semantic.rtl.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/themes/semantic.rtl.min.css" rel="stylesheet" />
    <!-- Inclui o link para o arquivo toastr.css por CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

   
</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/use-case.png" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
                    Portal de Notícias
                </a>              

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">           

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                  @*       <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Live">Criar Live</a>
                        </li> *@

@*                         <li class="nav-item"> *@
                            @* <a class="nav-link" id="divulgacao" data-toggle="modal"  href="#" data-bs-target="#staticBackdrop">Postagem</a> *@
                            @* <a class="nav-link" asp-area="" asp-controller="Postagens" asp-action="Index">Postagens</a> *@

                        @* </li> *@

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Postagens
                            </a>
                            <ul class="dropdown-menu">
                                @* <li><a class="dropdown-item" asp-controller="Postagens" asp-action="Video">Vídeo</a></li> *@
                                <li><a class="dropdown-item" asp-controller="Postagens" asp-action="IndexAutomatica">Vídeo</a></li>
                                <li><a class="dropdown-item" href="#">Audios</a></li>
                                <li><a class="dropdown-item" href="#">Upload</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Minhas publicações</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Operations" asp-action="Create">Novo Usuário</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Postagens" asp-action="MinhasPostagens">Postagens</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Favoritos</a>
                        </li>
                    </ul>
                  

                        @{
                            if (User?.Identity?.IsAuthenticated ?? false)
                            {
                            <ul class="navbar-nav flex-grow-2">

                                <li class="nav-item">
                                     <label class="text-white align-content-center">@User.Identity.Name &nbsp;</label>
                          
                                    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                                </li>
                            </ul>
                            }
                        }
                   
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.ToString() - App.UseCase.Plataforma - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>

    <input type="hidden" id="success"
           value="@TempData["success"]" />
    <input type="hidden" id="info"
           value="@TempData["info"]" />
    <input type="hidden" id="warning"
           value="@TempData["warning"]" />
    <input type="hidden" id="error"
           value="@TempData["error"]" />

  @*   <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/SignLr/signalr.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    @* <script src="~/js/jsextras/adapter.min.js"></script> *@

    <script src="~/js/jsextras/adapter.min.js"></script>
@*     <script src="~/js/jsextras/adapter-latest.js"></script> *@
    <script src="~/js/jsextras/adapter.screenshare.min.js"></script>
    <script src="~/js/jsextras/adapter.screenshare.js"></script>

@*     <script src="~/js/jsextras/adapter.screenshare.js"></script>

    <script src="~/js/jsextras/adapter.screenshare.min.js"></script> *@
    <script src="~/js/jsextras/custom.js"></script>
    <script src="~/js/jsextras/utilsrtc.js"></script>
    <script src="~/lib/alertifyjs/alertify.js"></script>
    <script src="~/lib/alertifyjs/alertify.min.js"></script>
    <!-- Inclui o link para o arquivo toastr.js por CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @* //tem q ser o ultimo script*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const SweetAlerta = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

         $(function () {


            var displayMessage = function (message, msgType) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-center", //"toast-top-right toast-top-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",

                };
                toastr[msgType](message);
            };

            if ($('#success').val()) {
                displayMessage($('#success').val(), 'success');
            }
            if ($('#info').val()) {
                displayMessage($('#info').val(), 'info');
            }
            if ($('#warning').val()) {
                displayMessage($('#warning').val(), 'warning');
            }
            if ($('#error').val()) {
                displayMessage($('#error').val(), 'error');
            }


        });

    </script>
    <audio controls="controls" loop id="MyAudio" style="display:none">
        <source src="~/sounds/alert.mp3" type="audio/mpeg" />
    </audio>
    <audio controls="controls" loop id="AudioReceive" style="display:none">
        <source src="~/sounds/toque%20da%20xiaomi.mp3" type="audio/mpeg" />
    </audio>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
