@model IEnumerable<app.plataforma.Postagens>
@{
    ViewData["Title"] = "Portal de notícias";
    
}

<div class="container">
    <div class="row">

        <div class="card">
            <h5 class="card-header bg-dark text-white">Portal de noticias</h5>
            <div class="card-body">

                <div class="container">
                                   
                   <div class="row row-cols-@ViewData["column"]">                     

                        @foreach (var postagens in Model!.ToList())
                        {
                            <div class="card card-video">
                                <h5 class="card-header bg-dark text-white">@postagens.titulo</h5>
                                <div id="#card-body-video" >

                                    <div class="container">

                                        <div class="col">
                                            <video id="video-postagens" autoplay muted loop controls>
                                                <source src=@postagens.linkFile type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>

                                            <h6 class="mt-0 mb-1 text-white"><b>Publicação:&nbsp;</b>@postagens.dtHora_Publicacao</h6>
                                            <h6 class="mt-0 mb-2 text-white"><b>Autor:&nbsp;</b>@postagens.usuario</h6>

                                            <div class="conteudo text-white">
                                                @postagens.descricao
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@* @foreach (var postagens in Model!.ToList())
{

    <div class="container">
        <div class="row">
            <div class="cols">

                <h2 class="mt-0 mb-1">@postagens.titulo</h2>


                <div class="video-wrapper">
                    <video controls playsinline autoplay muted loop>
                        <source src=@postagens.linkFile type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>



                <h6 class="mt-0 mb-1"><b>linkFile</b>@postagens.linkFile</h6>

                <h6 class="mt-0 mb-1"><b>Publicação:&nbsp;</b>@postagens.dtHora_Publicacao</h6>
                <h6 class="mt-0 mb-2"><b>Autor:&nbsp;</b>@postagens.usuario</h6>

                <div class="conteudo">
                    @postagens.descricao
                </div>


            </div>

        </div>
    </div>


} *@






